<h2>Add a food item!</h2>

<%= form_for @food do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :cost %>
  <%= f.number_field :cost %>

  <br>

  <%= f.submit 'Add Item' %>

<% end %>
