<h2>Party # <%= link_to( @party.id, party_path(@party.id) ) %></h2>
<h3>Guests: <%=@party.guest_count%></h3>
<!-- <h3>Paid?: <%=@party.has_paid%></h3> -->


<% @orders.each do |order| %>

  <%= order.food.name %>
  <%= order.food.cost %>

<% end %>

<h3><%= link_to "Add order", new_party_order_path(@party.id), class: "" %></h3>

<%= link_to "Edit Party", edit_party_path(@party.id), class: "hi" %>
