<h2>Edit Your Order!</h2>

<%= form_for @order do |o| %>

  <%= o.label :party_id %>
  <%= o.select( :party_id, options_for_select(@parties.map {|party| [party.guest_count, party.id]})) %>
  <br>
  <%= o.label :food_id %>
  <%= o.select( :food_id, options_for_select(@foods.map {|food| [food.name, food.cost, food.id]})) %>
  <br>

  <%= o.submit %>

<% end %>

<%= link_to "DELETE", order_path(@order), method: :delete, class: "delete-task-button" %>
