<h3 class="burgs">L🍳GIN</h3>
<!-- <h3 class="burgs-text">Welcome</h3> -->

  <div class="row">
    <div class="ten columns offset-by-one">
      <%= form_tag '/sessions', method: :post do %>

        <%= label_tag :username %>
        <%= text_field_tag :username %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag "Log In" %>

    </div>
  </div>
<% end %>

<div class="new-user">
  <li><a class="sign-up-link" href="/servers/new">New user? Sign up!</a></li>
</div>
