<h1 class="burgs">SIGN UP</h1>

<div class="row">
  <div class="twelve columns">

  <%= form_for @server do |s| %>
    <%= s.label :username %>
    <%= s.text_field :username %>

    <%= s.label :password %>
    <%= s.password_field :password %>

    <%= s.submit "Add me!" %>
  </div>
</div

<% end %>
